$primaryColor: #F5F5F5;

.Body {
	padding:0px;
}

.Header {
	height:48px;
	background-color:$primaryColor;
	border-bottom:1px solid darken($primaryColor,10);
	width:100%;
	padding-left:78px;
	padding-top:4px;
	padding-right:35px;
	margin-right:0px;
	margin-left:0px;

}

.contentMain {
		width:100%;
		padding-top: 5px;
		padding-bottom:5px;
}

.Logo {
	margin-top:5px;
	margin-right:-10px;
	img{
		height:28px;
		float:right;
	}
}

.Search {
	input{
		margin-top: 3px;
		width:100%;
		border-radius:5px;
		//box-shadow: 0px 10px 10px 10px, $primaryColor;
	}
}

.Links {
	display:inline-block;
	padding-left:0px;
	padding-right:0;
	margin-top:2px;

	ul {
		padding-left:0px;
	}

	li {
		display:inline-block;
	}
	h4{
		font-size: 13px;
		margin-left: 15px;
		text-decoration:bold;
	}
	
}

.newRepo, .miniProfile {
	margin-top:7px;
	margin-right:0px;
	padding-left:0px;
	img{
		margin-left:10px;
	}
	
}

.triangle {
	height:11px;
	width:11px;
	margin-left:0px;
}

.newRepo {
	margin-left:85px;
	margin-right:-40px;

	img{
		margin-left: 5px;
		margin-right: -7px;
	}
}

.miniProfile {
	margin-right:0px;
	padding-right:0;
	margin-left:-15px;

	.UPI {
		height:20px;
		width: 20px;
		border-radius:3px;
		margin-right:-10px
	}
}

.topBar {
	width:100%;
	margin-top:10px;
	border-bottom:2px solid darken($primaryColor,10);

	ul {
		padding-left:10px;
		margin-left: 35px;
		display:inline-block;
		li{
			font-size: 14px;
			display: inline-block;
		}
	}
	
	.btn-default {
		margin-left: 0px;
	}
	.btn-success {
		margin-left: 44px;
	}
}

.searchBar {
	padding-left:0;
	.form-control {
		margin-left: 0;
		length:auto;
		
	}
}

.editProfile {
	float:right;
	border:1px solid darken($primaryColor,10);
	border-radius:3px;
	height:30px;
	img {
		margin-right: 5px;
	}
}

.Main {
	margin-top:10px;
	margin-left:20px;
	width:auto;
}

.profileMenu{
	margin-left:95px;
	margin-top:10px;
	padding:0;
}

.name {
	margin-top:10px;
	h2{
		margin-top: 0px;
		font-size:25px;
	}
}

.username {
	margin-top:-10px;

	h3 {
		margin-top: 0px;
		font-size:21px;
		color:grey;
	}
}

.bio {
	border-bottom:1px solid darken($primaryColor,10);
	p{
		color:grey;
	}
}

.started {
	margin-top:10px;
	border-bottom:1px solid darken($primaryColor,10);
	img {
		float:left;
		opacity: 0.5;
		margin-right: 10px;
		margin-top: 2px;
	}
}

.stats {
	.follow, .stars, .following {
		border-bottom:1px solid darken($primaryColor,10);
		align:middle;
		padding:0px;
		ul{
			padding:0px;
		}
		li{
			text-align:middle;
			padding-left:10px;
			list-style:none;
			h5{
				font-size:30px;
				padding:0;
				margin-top: 4px;
				padding-left: 12px;
				margin-bottom: 0px;
			}
			p{
				font-size:11px;
				margin-top: 0px;
			}
		}
	}
}

.follow , .following{
	ul{
		margin-top: 1px;
	}
}

.profileContent {
	padding:0;
	margin-left:45px;
	ul li a img {
		margin-right: 10px;

	}
}

.topBar {
	//width:100%;
	padding-bottom:7px;
	padding-top:7px;
	display:inline-block;

	input {
		width:auto;
		border-radius:5px;
	}

	ul {
		padding:0;
		li{
			margin-left: 10px;
		}
	}

	.btn-default {
		margin-left: 4px;
		background: linear-gradient(white,darken($primaryColor,10));
	}

	.buttonNR {
		margin-left: 44px;
	}
}

.profileImg {
	img{
	height:230px;
	width:230px;
	border-radius:5px;
	}
}

.repoList {
	border-bottom:1px solid darken($primaryColor,10);
}

.mainList {
	list-style:none;
	padding-left:0;
	li {
		margin-top: 10px; 
	}
    
}

.sideList {
	list-style:none;
	float:right;
	margin-top:-80px;
	li {
		display:inline-block;
		margin-right: 10px;
	}
	img {
		margin-right: 3px;
	}
}

.activitiesTab {
	//margin-bottom:10px;

	ul{
		border-bottom:1px solid darken($primaryColor,10);
		margin-top: -30px;
		margin-bottom: 10px;
	}
	li{
		list-style:none;

	}
}

.pushImg {
	height:32px;
	width:28px;
	opacity:0.3;
}

.event {
	margin-top:10px;

	ul {
		padding-bottom:10px;
	}

	p{
		margin-top: -27px;
		margin-left: 140px;
		width:auto;
		opacity: 0.5;
	}
	
}

.update {
	opacity:0.3;
}

.imgOne, .imgTwo {
	border-radius:5px;
}

.imgOne {
	height:30px;
	width:30px;
}

.imgTwo {
	height:16px;
	width:16px;
	margin-left:5px;
	margin-top:-8px;
}

.eventCreate, .eventMember {
	border-bottom:1px solid darken($primaryColor,10);

	img {
		opacity: 0.5;
	}

	p {
		margin-top: -20px;
		padding-left:20px;
	}

	h6 {
		opacity: 0.5;
	}
}